### 파이썬
- 화면출력 : print()

In [1]:
print("안녕하세요",end="\t") # 문자열 취급 : "", ''
print('Hello Python','반갑습니다','수요일')
print(type(100)) # int
print()
print(type('Hello')) # str
print(type(123.25)) # float
print(type(True)) # bool => True / False

안녕하세요	Hello Python 반갑습니다 수요일
<class 'int'>

<class 'str'>
<class 'float'>
<class 'bool'>

In [2]:
print('T','E','S','T',sep="-")
print('2026','02','04',sep="/")

T-E-S-T
2026/02/04

In [3]:
a = 100
print("a 변수의 값은 : ",a)
print(f"a 변수의 값은 : {a}")
print("a 변수의 값은 : %d" % a)
print("%d : %s" % (13, "안녕하세요"))
print("%d%%" % 98)

a 변수의 값은 :  100
a 변수의 값은 : 100
a 변수의 값은 : 100
13 : 안녕하세요
98%

### 변수
- 타입 지정 안함(값이 할당되면 타입이 결정됨)

In [4]:
str1 = "Life is too short, You need Python"
str2 = """Life is too short, You need Python
Life is too short, You need Python
"""
str3 = '''Life is too short, You need Python
Life is too short, You need Python
'''

In [5]:
print(str1)
print(str2)
print(str3)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python

Life is too short, You need Python
Life is too short, You need Python

In [6]:
a = 100
b = 200

c, d = 300,400
print(a, b, c, d)

a = b = c = d = 500
print(a, b, c, d)

100 200 300 400
500 500 500 500

In [7]:
a, b = 10, 15
print(a, b)
# a => b, b=> a
a, b = b, a
print(a, b)

10 15
15 10

In [8]:
str1 = "500"
num1 = 500
# result = str1 + num1  # TypeError: can only concatenate str (not "int") to str
result = int(str1) + num1  
print(result)

1000

In [9]:
# int(), bool(), str(), float()

a = 3.0
print(bool(a))

a = 0.0
print(bool(a))

# print(int("99.5")) ValueError: invalid literal for int() with base 10: '99.5'
print(int(99.5))
print(float("99.5"))

True
False
99
99.5

In [10]:
a, b = 5, 3
print(a+b, a-b, a*b, a/b, a//b, a**b, a%b)

8 2 15 1.6666666666666667 1 125 2

In [11]:
a += 5
print(a)

10

In [12]:
# 동전 교환하기
# 7,777 => 동전 500원, 100원, 50원 10원
money = 7777

# 500원 동전 갯수
money500 = money // 500
money = money % 500

money100 = money // 100
money = money % 100

money50 = money // 50
money = money % 50

money10 = money // 10
money = money % 10

print("**** 동전 교환 *****")
print(f"500원 {money500}개, 100원 {money100}개, 50원 {money50}개, 10원 {money10}개, 나머지 돈 {money}")

**** 동전 교환 *****
500원 15개, 100원 2개, 50원 1개, 10원 2개, 나머지 돈 7

In [13]:
# ==, !=, >=, <=
a, b = 10, 0
print(a == b, a != b, a >= b, a<=b)

False True True False

In [14]:
# 논리연산자 : 자바 - &&, ||, !,  파이썬 - and, or, not
a, b, c = 10,60,15

print(a > b and b > c)  # &, | => 비트 연산자
print(a > b or b > c)
print(not b > c)

False
True
False

In [15]:
# 키보드에서 입력받기
msg = input()
print(msg)

1

In [2]:
msg = input("input num : ") # 입력값은 str
print(msg) 
print(type(msg))

3
<class 'str'>

In [17]:
num1 = int(input("input num : ")) # 입력값은 str
print(num1 + 100)

101

In [18]:
# 제어문

if True:
    print("Yes")

Yes

In [19]:
a = 200

# a가 100보다 크고 200 이하이다
if 100 < a and a <= 200:
    print("a가 100보다 크고 200 이하이다")

a가 100보다 크고 200 이하이다

In [20]:
if 100 < a <= 200:
    print("a가 100보다 크고 200 이하이다")

a가 100보다 크고 200 이하이다

In [21]:
a, b, c = 12,6,18

# 가장 큰 수 출력
max = a
if max < b:
    max = b
if max < c:
    max = c

print(f"가장 큰 수 {max}")
print("가장 큰 수 %d" % max)
print("가장 큰 수",max)

가장 큰 수 18
가장 큰 수 18
가장 큰 수 18

In [22]:
a = 100
if a < 100:
    print("a 는 100보다 작다")
else:
    print("a 는 100보다 크다")

a 는 100보다 크다

In [23]:
# 이런 형태 없음
# print(a < 100 ? "a 는 100보다 작다" : "a 는 100보다 크다")

result = "a 는 100보다 작다" if a < 100 else "a 는 100보다 크다"
print(result)

a 는 100보다 크다

In [24]:
# 입력한 숫자가 홀,짝 구하기

num = int(input("숫자 입력 : "))

if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [25]:
# 다중조건
# if elif else

num = 90

if num >= 90:
    print("A")
elif num >= 80:
    print("B")
elif num >= 70:
    print("C")
elif num >= 60:
    print("D")
else:
    print("F")

A

In [4]:
# 사칙연산기 ( 숫자 2, 연산자 => +, -, *, /, //, %)

num1 = int(input('input num1 '))
op = input('input op ')
num2 = int(input('input num2 '))

result = 0
if op == "+":
    result = num1 + num2
elif op == "-":
    result = num1 - num2
elif op == "*":
    result = num1 * num2
elif op == "/":
    result = num1 / num2
elif op == "//":
    result = num1 // num2
elif op == "%":
    result = num1 % num2

print(f"{num1} {op} {num2} = {result}")

1 - 2 = -1

In [ ]:
# 반복문

i = 1
while i < 11:
    print(i, end="  ")
    i = i+1

1  2  3  4  5  6  7  8  9  10

In [ ]:
# 짝수 ( 1~ 100 )

i = 1
while i < 101:
    if i % 2 == 0:
        print(i, end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# 1~100합계

i, hap = 1, 0
while i < 101:
    hap += i
    i += 1
print(f"1 ~ 100 까지의 합 {hap}")

1 ~ 100 까지의 합 5050

In [ ]:
# 'q' 문자가 입력되기 전까지 사용자 입력받기

content = ""

while content != 'q':
    content = input("입력을 중단하고 싶으면 q >> ")
    print(content)

dkfkdkdkd
dfdfdfdf
edfe
efdeedf
q

In [ ]:
# range(start,stop,step) : 범위지정
# list() == List(배열) == 배열(자바스크립트)
print(range(5))
print(list(range(5)))
print(list(range(1, 5)))
print(list(range(1, 10, 2)))

range(0, 5)
[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [ ]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(2, 11, 2):
    print(i, end=" ")

2 4 6 8 10

In [ ]:
# 1 ~ 100 합계

hap = 0
for i in range(1, 101):
    hap += i

print(f"1 ~ 100 합 : {hap}")

1 ~ 100 합 : 5050

In [28]:
# sum()

sum(range(1,101))

5050

In [29]:
# 특정 숫자를 입력받은 후 1 ~ 입력받은 숫자까지 합계 구하기

x = int(input("숫자 입력 "))

hap = 0
for i in range(1, x+1):
    hap += i

print(f"1 ~ {x} 까지의 합 {hap}")

1 ~ 10 까지의 합 55

In [30]:
for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [31]:
for i in range(3):
    for j in range(3):
        print(j, end=" ")
    print()

0 1 2
0 1 2
0 1 2

In [32]:
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *

In [33]:
# break, continue

i = 1
while i < 11:
    print(i, end="  ")
    if i == 5:
        break
    i = i+1

1  2  3  4  5

In [34]:
i = 1
while i < 11:
    i = i+1
    if i % 2 == 1:
        continue
    print(i, end="  ")

2  4  6  8  10