### 함수

```
def 함수명(인수1, 인수2...):
    수행할 문장
```

In [3]:
def hello():
    print("hello")

In [5]:
hello()

hello

In [8]:
def hello2():
    return "Hello"

In [10]:
msg = hello2()
print(msg)

Hello

In [13]:
def add(a, b):
    return a + b

result = add(5,9)
print(result)

14

In [16]:
# 기본값 b=5
def add(a, b=5): 
    return a + b

result = add(10)
print(result)

15

In [20]:
# 가변 파라메터
# 파라메터의 개수가 일정치 않은 경우 사용

def info(*args):
    print(args)


info("wine")
info("wine", "35", "45", "65")
info("35", "45", "65")
info()

('wine',)
('wine', '35', '45', '65')
('35', '45', '65')
()

In [22]:
def sum_mul(choice, *args):
    if choice == "+":
        result = 0
        for i in args:
            result += i
    elif choice =="*":
        result = 0
        for i in args:
            result *= i
    return result
        

print(sum_mul("+", 1,2,3,4,5))
print(sum_mul("*", 1,2,3,4,5))

15
0

In [26]:
## **kwargs : 딕셔너리 형태로 처리

def args_func1(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}:{v}")


args_func1(name="Park")
args_func1(name="Park", name2="Kim", name3="Hong", active=True)
args_func1(name="Park", age=25, title="Title")

name:Park
name:Park
name2:Kim
name3:Hong
active:True
name:Park
age:25
title:Title

In [27]:
def args_func2(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

args_func2(10,20)
args_func2(10,20,"park", "kim")
args_func2(10,20,"park", "kim", age=14, name="choi")

10 20 () {}
10 20 ('park', 'kim') {}
10 20 ('park', 'kim') {'age': 14, 'name': 'choi'}

In [34]:
#다중 리턴 가능 : tuple 에 담아서 보내줌

def sum_and_mul(a, b):
    return a + b, a * b


result = sum_and_mul(5,3)
print(result)
print(result[0])


sum1, mul1 = sum_and_mul(9,3)
print(f"{sum1},{mul1}")

(8, 15)
8
12,27

In [37]:
def sum_and_mul(a, b):
    return [a + b, a * b]


result = sum_and_mul(5,3)
print(result)
print(result[0])


sum1, mul1 = sum_and_mul(9,3)
print(f"{sum1},{mul1}")

[8, 15]
8
12,27

In [41]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"내 별명은 {nick}입니다.")

print(say_nick("바보"))
say_nick("해바라기")

None
내 별명은 해바라기입니다.

In [63]:
# 함수 정의 : 사칙연산 (+,-,*,//)
def fourRules(num1, num2, op):
    if op =="+":
        return num1 + num2
    elif op =="-":
        return num1 - num2
    elif op =="*":
        return num1 * num2
    elif op =="/":
        return num1 // num2
    
# print(fourRules(5,6,"+"))
# print(fourRules(5,6,"-"))
# print(fourRules(5,6,"*"))
# print(fourRules(13,6,"/"))
    

# 사용자한테 두 수와 연산자 입력받기(확장)
num1 = int(input("첫번째 숫자"))
num2 = int(input("두번째 숫자"))
op = input("연산방식")


print(f"{num1}{op}{num2} = {fourRules(num1,num2,op)}")

4+3 = 7

In [267]:
import random

print(random.random()) # Math.random() : 0 <= 숫자 < 1
print(random.randint(1, 10))
print(random.randrange(0,20,2))

0.42527003258255547
8
2

In [377]:
import random

#
def get_number():
    return random.randint(1,46) # 1 ~ 45 임의의 수


# 로또번호 추출
# 리스트, set
lotto = set()
while True:
    lotto.add(get_number())
    if len(lotto) >= 6:
        break
    
print("lotto", lotto)

# 정렬
list1 = list(lotto)
list1.sort()

print("lotto", list1)

lotto {35, 4, 5, 36, 23, 30}
lotto [4, 5, 23, 30, 35, 36]

In [ ]:
# 전역변수
a = 1

def func1(a):
    print("지역변수 ", a)
    a += 1
    print("덧셈 후 지역변수 ", a)

func1(5)
print(a)

지역변수  5
덧셈 후 지역변수  6
1

In [380]:
a = 1

def func1():
    global a
    a += 1
    print("덧셈 후 지역변수 ", a)

func1()

덧셈 후 지역변수  2

### 람다 함수
- 단일문으로 표현되는 익명 함수
- 1회성으로 함수를 만들어 사용

In [382]:
# 숫자를 받아서 **2 리턴
def square(num):
    return num ** 2

print(square(5))

25

In [384]:
square = lambda num: num ** 2
square(6)

36

In [385]:
add = lambda x,y:x+y
add(6,9)

15

In [392]:
# def strlen(s):
#     return len(s)


contents = ['bob', 'charles', 'alexander3', 'teddy']

# 오름, 내림 sort가 아닌 글자 길이에 따른 sort를 하고 싶다
# contents.sort()
# contents.sort(reverse=True)



# contents.sort(key=strlen)
contents.sort(key=lambda s:len(s))
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [395]:
contents = ['bob', 'charles', 'alexander3', 'teddy']

contents.sort(key=len)
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [398]:
# filter, map, reduce

list1 = [1,2,3,6,8,9]

# 짝수 요소만 추출한 후 새로운 리스트 생성하기
evens = []

for i in list1:
    if i % 2 == 0:
        evens.append(i)

evens

[2, 6, 8]

In [400]:
evens = [i for i in list1 if i % 2 == 0]
evens

[2, 6, 8]

In [404]:
evens = []

def even(list1):
    for i in list1:
        if i % 2 == 0:
            evens.append(i)

even([1,2,3,6,8,9])
print(evens)
even([11,22,3,6,8,9,12,14])

[2, 6, 8]

In [407]:
# filter 사용

list1 = [1,2,3,6,8,9]

list(filter(lambda x:x%2==0, list1))

[2, 6, 8]

In [408]:
# map

nums = [1,2,3,6,8,10,11,12,13,14,15]

list(map(lambda x:x**2, nums))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 196, 225]