### 문자열 타입

- 파이썬에서 문자열 '', "" 가능
- """ """, ''' ''' 가능

In [1]:
str1 = "Life is too short, You need Python"
str1 = 'Life is too short, You need Python'
str1 = """Life is too short, You need Python"""
str1 = '''Life is too short, You need Python'''

In [2]:
str1 = "Python's favorite food is perl"

In [3]:
str1

"Python's favorite food is perl"

In [5]:
str1 = """Life is too short, 
You need Python"""

str1

'Life is too short, \nYou need Python'

In [7]:
str1 = """\
Life is too short, You need Python
"""

str1

'Life is too short, You need Python\n'

In [9]:
# + : 연결

head = "Python"
tail = " is fun"

head + tail

'Python is fun'

In [10]:
# * : 반복
head * 2

'PythonPython'

In [13]:
print("*" * 20)
print("번호 이름 나이 ")
print("****************************************")

********************
번호 이름 나이
****************************************

In [14]:
# 길이 구하기

len(head)

6

In [19]:
str1 = "Life is too short, You need Python"

In [21]:
# 문자열 인덱싱과 슬라이싱
print(str1[0])  # 왼쪽 시작
print(str1[-1]) # 오른쪽 끝
print(str1[-4]) # 오른쪽 끝부터

L
n
t

In [22]:
# 인덱싱을 이용해 슬라이싱

str1[0:5]

'Life '

In [25]:
print(str1[5:])
print(str1[:])
print(str1[19:-7])

is too short, You need Python
Life is too short, You need Python
You need

In [26]:
str2 = "20260205Sunny"

date = str2[0:8]
weather = str2[8:]
print(date, weather)

20260205 Sunny

In [27]:
str2 = "901205-1234567"  # 1,3 : 남자  / 2,4 : 여자

no = str2[7]

if no == '1' or no == '3':
    print("남자")
else:
    print("여자")

남자

In [31]:
for s in str1:
    print(s+"$", end="")

L$i$f$e$ $i$s$ $t$o$o$ $s$h$o$r$t$,$ $Y$o$u$ $n$e$e$d$ $P$y$t$h$o$n$

In [ ]:

str1 = "54321"
print(range(len(str1)))

range(int(str1[0]))

range(0, 5)

range(0, 5)

In [36]:
# 숫자를 입력받기 => 문자로 처리
# 54321
str = input("숫자 입력 ")

for i in range(len(str)):
    for s in range(int(str[i])):
        print("♥", end=" ")
    print()

# ♥ ♥ ♥ ♥ ♥
# ♥ ♥ ♥ ♥
# ♥ ♥ ♥
# ♥ ♥
# ♥

♥ ♥ ♥ ♥ ♥ ♥
♥ ♥ ♥ ♥ ♥
♥ ♥ ♥ ♥
♥ ♥ ♥
♥ ♥
♥

In [ ]:
# %d : 정수,  %c : 문자 1개, %f : 부동소수, %s : 문자열

print("I eat %d apples" % 3)
print("I eat %s apples" % 3)  # %s (문자열)
print("I eat %s apples" % "five")  # %s (문자열)
print("I eat %s apples" % 3.14)  # %s (문자열)
print("I eat %s apples" % True)  # %s (문자열)

I eat 3 apples
I eat 3 apples
I eat five apples
I eat 3.14 apples
I eat True apples

In [ ]:
print("%10s" % "hi")
print("%0.4f" % 3.141592) # 0 : 앞 자리수는 전체 출력

        hi
3.1416

In [47]:
# format()
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat {0} apples. so I was sick for {1} days".format(10,3))

I eat 3 apples
I eat five apples
I eat 10 apples. so I was sick for 3 days

In [ ]:
number = 10
day = "three"

print("I eat {0} apples. so I was sick for {1} days".format(number,day))
print(f"I eat {number} apples. so I was sick for {day} days")

I eat 10 apples. so I was sick for three days
I eat 10 apples. so I was sick for three days

In [53]:
print("{0:>10}".format("hi")) # 총 10자리 우측정렬
print("{0:^10}".format("hi")) # 총 10자리 가운데정렬
print("{0:<10}".format("hi")) # 총 10자리 왼쪽정렬

print(f"{number:>10}")
print(f"{number:^10}")
print(f"{number:<10}")

        hi
    hi
hi
        10
    10
10

In [ ]:
# 문자열 함수

a = "hobby"

# a 문자열 안에 b 문자의 개수
a.count("b")

2

In [ ]:
# find() : 원본 문자열 안에서 특정 문자 찾기
# 못 찾으면 -1

print(a.find("o"))
print(a.find("a"))

1
-1

In [58]:
print(a.index("o"))
# print(a.index("a"))  # ValueError: substring not found

1

In [ ]:
# join() : 문자열 삽입

print(",".join("abcd"))

list = ['a','b','c']
print(list)
print("".join(list)) # ★ (리스트를 문자열로 변경)

a,b,c,d
['a', 'b', 'c']
abc

In [66]:
# upper(), lower()

print(a.upper())

HOBBY

In [ ]:
# 공백제거 : strip() ★ / rstrip() / lstrip()

a = "      hi      "
print(a)
print(a.rstrip())
print(a.lstrip())
print(a.strip())

      hi
      hi
hi
hi

In [ ]:
# replace()

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
# split() 
a.split() # 공백 기준(기본)

['Life', 'is', 'too', 'short']

In [73]:
# startswith, endswith
a.startswith("L")
a.endswith("L")

False

In [74]:
# 입력 => 년/월/일 (2026/02/26)
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일

date1 = input("년/월/일 (예 : 2026/02/26) 형태로 입력하세요 ")

year = int(date1[0:4]) + 10

print(f"{year}년 {date1[5:7]}월 {date1[8:]}일")

2036년 03월 01일

In [75]:
date1 = input("년/월/일 (예 : 2026/02/26) 형태로 입력하세요 ")

pos = date1.find("/") 
year = int(date1[0:pos]) + 10

print(f"{year}년 {date1[5:7]}월 {date1[8:]}일")

2036년 10월 25일

In [77]:
date1 = "2026/02/05"

date1 = date1.split("/")

year = int(date1[0]) + 10

print(f"{year}년 {date1[1]}월 {date1[2]}일")

2036년 02월 05일

In [1]:
# 비밀번호 생성

# http://naver.com
# 규칙 1 : http:// 제외 => naver.com
# 규칙 2 : 첫번째로 나오는 마침표 이후 부분은 제외 => naver
# 규칙 3 : 남은 글자 중 처음 세 자리 + 글자 갯수 + 글자 내 'e' 문자 갯수 + ! => nav51!

# "123" + 3 => TypeError
# "123" + str(3) => TypeError 해결

url = "http://naver.com"
password = url.replace("http://","") # url[7:]
password = password[:password.find(".")]

e_count = password.count("e")
length = len(password)

password = password[:3] + str(length) + str(e_count) + "!"
print(password)

nav51!

### 리스트
- 자바스크립트의 배열구조와 동일
- 중복가능, 순서가 있음

In [3]:
# 리스트 생성

list1 = []
list2 = list()
list3 = ['a','b','c']
list4 = ['a','b','c',5,6,7,3.14]
list5 = ['a','b','c',['Life','is','too','short']]

In [4]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

In [ ]:
# 인덱싱과 슬라이싱

print(list3[1:])
print(list3[-1:])
print(list5[3][1])
print(list5[-1][-2])
print(list4[::-1]) # 전체 출력 / 거꾸로 출력

['b', 'c']
['c']
is
too
[3.14, 7, 6, 5, 'c', 'b', 'a']

In [ ]:
# + : 연결

print(list3 + list4)

['a', 'b', 'c', 'a', 'b', 'c', 5, 6, 7, 3.14]

In [11]:
# * : 반복

print(list3 * 2)

['a', 'b', 'c', 'a', 'b', 'c']

In [13]:
# 리스트 값 수정

list3[2] = 'd'
list3

['a', 'b', 'd']

In [14]:
list3[1:2] = [10,11]
list3

['a', 10, 11, 'd']

In [15]:
list3[1] = [13,14]
list3

['a', [13, 14], 11, 'd']

In [19]:
# 값 추가

list2.append([15,16,17])
list2

[15, [15, 16, 17]]

In [20]:
# 삭제

list2[1:2] = []
list2

[15]

In [21]:
list3

['a', [13, 14], 11, 'd']

In [23]:
# 삭제 : del 

del list3[1]
list3

['a', 'd']

In [ ]:
# 정렬

list6 = [25,75,15,9,6,3,36]
print(f"정렬 전 {list6}")
list6.sort()  # 원본 정렬 됨
print(f"오름차순 정렬 후 {list6}")

list7 = ['z','k','a','v','f']
print(f"정렬 전 {list7}")
list7.sort()  # 원본 정렬 됨
print(f"름차순 정렬 후 {list7}")

정렬 전 [25, 75, 15, 9, 6, 3, 36]
정렬 후 [3, 6, 9, 15, 25, 36, 75]
정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['a', 'f', 'k', 'v', 'z']

In [ ]:
list7 = ['z','k','a','v','f']
print(f"정렬 전 {list7}")
list7.sort(reverse=True)  # 원본 정렬 됨
print(f"내림차순 정렬 후 {list7}")

정렬 전 ['z', 'k', 'a', 'v', 'f']
름차순 정렬 후 ['z', 'v', 'k', 'f', 'a']

In [ ]:
# sorted
list7 = ['z','k','a','v','f']
result = sorted(list7)
print(list7) # 원본 보존
print(result) # 정렬된 새로운 리스트

['z', 'k', 'a', 'v', 'f']
['a', 'f', 'k', 'v', 'z']

In [30]:
# remove()

list3.remove('a')

In [31]:
list3

['d']

In [ ]:
list4.append('a')
list4.remove('a')  # 처음 찾은 요소만 제거
list4

['b', 'c', 5, 6, 7, 3.14, 'a', 'a']

In [ ]:
# pop() : 맨 마지막 요소 제거 효과

list4.pop()

'a'

In [ ]:
# pop(index) : 해당 index 요소 제거
list4.pop(2) 
list4

['b', 'c', 6, 7, 3.14, 'a']

In [40]:
# count()

list5.count("c")

1

In [41]:
list7 = list3 + list4
list7

['d', 'b', 'c', 6, 7, 3.14, 'a']

In [ ]:
list3.extend(list4) # + 와 같은 결과이긴 하나 원본에 합산
list3

['d', 'b', 'c', 6, 7, 3.14, 'a']

In [45]:
# 리스트 요소 모두 삭제

list3.clear()
list3

[]

In [51]:
# 100 이상의 숫자 개수
numbers = [273,103,5,32,65,9,72,800,99]

count = 0
for num in numbers:
    if num >= 100:
        print(num)
        count += 1

print(f"100 이상의 수 {count} 개")

273
103
800
100 이상의 수 3 개

In [55]:
# numbers 의 숫자와 자릿수 출력
# 출력예시
# 273 : 3 자릿수

for num in numbers:
    print(f"{num} : {len(str(num))} 자릿수")

273 : 3 자릿수
103 : 3 자릿수
5 : 1 자릿수
32 : 2 자릿수
65 : 2 자릿수
9 : 1 자릿수
72 : 2 자릿수
800 : 3 자릿수
99 : 2 자릿수

In [59]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [60]:
# 1 ~ 100 까지의 숫자 중에서 짝수인 리스트 생성

numbers = []
for i in range(1, 101):
    if i % 2 == 0:
        numbers.append(i)

print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 비어 있는 리스트, 문자열 : 거짓

if list1:
    print("True")
else:
    print("False")

city = ""

if city:
    print("city True")
else:
    print("city False")

False
city False

In [65]:
# in 

fruits = ['사과','딸기','바나나','수박','배']

# fruits 안에 '딸기' 포함하고 있는가?
if "딸기" in fruits:
    print("딸기 들어 있음")


# for i in fruits:
#     if i == "딸기":
#         print("딸기 들어 있음")
#         break

딸기 들어 있음

In [ ]:
# enumerate(fruits) => index, value 묶어서 반환

for idx, fruit in enumerate(fruits):
    print(idx, fruit)  # (0, '사과') 튜플

0 사과
1 딸기
2 바나나
3 수박
4 배

In [72]:
print(len("abcdedf"))
print(len([3,4,5,6,7,5,8,8,9,10]))

7
10

In [69]:
classA = [70,60,55,75,95,90,80,85,100]

# classA 점수의 합과 평균 구하기
total = 0
for num in classA:
    total += num

print(f"classA 점수합계 : {total}, 평균 : {total / len(classA)}")


# sum() 
print(f"classA 점수합계 : {sum(classA)}, 평균 : {sum(classA) / len(classA)}")

classA 점수합계 : 710, 평균 : 78.88888888888889
classA 점수합계 : 710, 평균 : 78.88888888888889

In [79]:
car_name = "A"
ord(car_name) + 1 # 65
chr(66)

'B'

In [83]:
# 주차장 프로그램
# 5대만 주차 가능 (차례대로 입차 / 출차는 반대 순서)

parking_lot = []
top, car_name = 0, "A"

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 "))

    if no <= 3:
        if no == 1:
            if top >= 5:
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")

                top += 1
                # car_name 새로 구하기
                car_name = chr(ord(car_name) + 1)
        elif no == 2:
            if top > 0:
                # 마지막 꺼내기 : pop()
                outCar = parking_lot.pop()
                print(f"{outCar} 자동차 나감. 주차장 상태 ==> {parking_lot}")

                top -= 1
                # car_name 새로 구하기
                car_name = chr(ord(car_name) - 1)
            else:
                print("빠져나갈 자동차가 없음")
        elif no == 3:
            print("프로그램 종료")
            break
    else:
        print("메뉴 번호를 확인해 주세요")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
E 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
D 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C']
C 자동차 나감. 주차장 상태 ==> ['A', 'B']
B 자동차 나감. 주차장 상태 ==> ['A']
A 자동차 나감. 주차장 상태 ==> []
빠져나갈 자동차가 없음
빠져나갈 자동차가 없음
빠져나갈 자동차가 없음
A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']

ValueError: invalid literal for int() with base 10: ''

In [84]:
# list comprehension

# 1 ~ 7 리스트 생성

numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
numbers.append(5)
numbers.append(6)
numbers.append(7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [85]:
numbers = []
for n in range(1,8):
    numbers.append(n)

print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [87]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers2 = [n for n in range(1,8)]
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [89]:
list1 = ['갑','을','병','정','경']

# 정 글자를 제외한 새로운 리스트 생성
list2 = []
for ch in list1:
    if ch != '정':
        list2.append(ch)

list2

['갑', '을', '병', '경']

In [90]:
list2 = [ch for ch in list1 if ch != '정']
list2

['갑', '을', '병', '경']

In [93]:
# 1 ~ 100 까지 홀수만 담는 리스트 생성
# list(range(1, 101, 2))

numbers2 = [i for i in range(1,101) if i % 2 == 1]
print(numbers2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [94]:
# 5글자 이상의 항목만 저장하는 새로운 리스트 생성
list1 = ["nice","study","python","anaconda","!!!"]

list2 = [s for s in list1 if len(s) >= 5]
list2

['study', 'python', 'anaconda']

In [ ]:
print("ABC".isalpha())
print("ABC".isnumeric())
print("ABC".isupper())
print("ABC".islower())
print("ABC".isalnum()) # 알파벳 or 숫자인지

True
False
True
False
True

In [100]:
list1 = ["A","b","c","d","E","F","G"]

# 소문자만 추출 후 새로운 리스트 생성
list2 = [s for s in list1 if s.islower()]
list2

['b', 'c', 'd']

### 튜플(tuple)

- 리스트와 동일
- 조회 용도로 사용(속도는 빠름)
- 차이점 : 수정 불가

In [ ]:
# 튜플 생성

t1 = 1, 2, 3
t2 = ()
t3 = 1,
t4 = (1,2,('life', 'is'))

In [ ]:
print(t1)
print(t2)
print(t3)
print(t4)

(1, 2, 3)
()
(1,)
(1, 2, ('life', 'is'))

In [ ]:
# 삭제 - TypeError: 'tuple' object doesn't support item deletion

# del t1[0]

# 수정 - TypeError: 'tuple' object does not support item assignment
# t1[0] = 15

In [ ]:
# +, *

print(t1 * 2)
print(t1 + t3)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1)

In [ ]:
# 인덱싱과 슬라이싱

print(t4[0])
print(t4[0:1])

1
(1,)

In [ ]:
# 튜플 제거

del t1

### 딕셔너리
- 자바의 map 구조와 동일
- key:value
- key 는 중복 안됨

In [22]:
# 생성

dict1 = {}
dict2 = {"name":"hong","age":12}
dict3 = {0:"python",1:"java"}
dict4 = {"arr":[1,2,3,4,5], "t1":(6,7,8)}

In [ ]:
# 조회 : key 사용

dict2["name"]

# dict2["addr"] - KeyError: 'addr'
dict2.get("addr")

In [6]:
# 추가

dict2["addr"] = "서울시 중구"
print(dict2)

dict3[2] = ["javascript", "node.js"]
print(dict3)

{'name': 'hong', 'age': 12, 'addr': '서울시 중구'}
{0: 'python', 1: 'java', 2: ['javascript', 'node.js']}

In [28]:
# 존재하는 키 라면 value 업데이트 개념

dict2["name"] = "kim"
print(dict2)

{'name': 'kim', 'age': 12}

In [27]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]

counter = {}
# list 메소드 => 리스트 안에 특정 문자가 몇 번 나오느냐?

for number in numbers:
    counter[number] = numbers.count(number)


# 출력문
# {1:3, 2:4, 3:3, 4:5...}
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [9]:
# 삭제

del dict3[0]
print(dict3)

KeyError: 0

In [25]:
# keys() : 키 값만

print(dict1.keys())
print(dict2.keys())

dict_keys([])
dict_keys(['name', 'age'])

In [26]:
# values() : 값만

print(dict2.values())

dict_values(['hong', 12])

In [33]:
# items() : key, value 둘다

print(dict2.items())

for k, v in dict2.items():
    print(f"{k}:{v}")

dict_items([('name', 'kim'), ('age', 12)])
name:kim
age:12

In [19]:
# in : 포함
# not in : 포함하지 않는

print("사과" in ["귤", "포도", ])
print("사과" in dict2)
print("name" in dict2) # key 존재 여부

False
False
True

In [34]:
# clear()

dict2. clear()
print(dict2)

{}

In [45]:
# 딕셔너리 생성하기

# A : 90, B:80, C:70 구성된 dict 생성하기
dict1 ={"A":90,"B":80,"C":70}

# B 키에 해당하는 값만 출력하기
print(dict1["B"])
print(dict1.get("B"))

# B 키 값을 삭제
del dict1['B']
print(dict1)

80
80
{'A': 90, 'C': 70}

In [51]:
# 성인:10000, 청소년:8000, 아동:3000 dict 생성
dict1 = {"성인":10000, "청소년":8000, "아동":3000}

# 소아:0 항목 추가
dict1['소아'] = 0

# 키 값만 출력
print(dict1.keys())

# value 값만 출력
print(dict1.values())

dict_keys(['성인', '청소년', '아동', '소아'])
dict_values([10000, 8000, 3000, 0])

In [58]:
# list()
# str()
# int()
# float()
# bool()
# dict()

list(dict1.values())
list(dict1.keys())

['성인', '청소년', '아동', '소아']

### set : 집합
- 중복 불가
- 순서가 없음 : 인덱싱 없음

In [62]:
s1 = set()
s2 = set([1,2,3])
s3 = set([1,4,5,6,6])
s4 = set("Hello")

In [69]:
print(s1)
print(s2)
# print(s2[2]) - TypeError: 'set' object is not subscriptable
print(s3)
print(s4)

set()
{1, 2, 3}
{1, 4, 5, 6}
{'e', 'H', 'o', 'l'}

In [71]:
# print(s2[2]) 인덱스를 이용하고 싶다면? 인덱싱 가능한 타입 : 문자열, list, tuple

t1 = tuple(s2)
t1[2]

list1 = list(s3)
list1[2]

5

In [79]:
# 교집합, 합집합, 차집합

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

# 대칭 차집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [82]:
s2.add(15)
s2

{4, 5, 6, 7, 8, 9, 15}

In [83]:
s2.remove(7)
s2

{4, 5, 6, 8, 9, 15}